@import './base.css';


body{
  font-family: 'Inter', sans-serif !important;
  background: #FAFAFA;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none !important;
  color: #484848;
}

/* headings */
h1, h2, h3, h4, h5{
  margin: 0;
}
h1{}
h2{}
h3{
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #484848;
}
h5{
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #484848;
}

p{
  font-family: 'Inter', sans-serif !important;
  color: #484848;
  margin: 0;
}

/* Buttons */
.main-btn {
  background: #0796D0;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  width: 379px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.main-btn a{
  color: #FAFAFA;
}
.main-btn:hover a{
  color: #0796D0;
}
.main-btn:hover{
  background: #FFFFFF;
  color: #0796D0;
  border: 2px solid #0796D0;;
}
.gray-btn{
  border: none;
  background: none;
  color: #858585 !important;
  font-weight: 600;
}
.auth-btn-div{
  display: flex;
  justify-content: space-between;
}
.auth-btn-div .gray-btn{
  font-size: 10px;
}
/* ====================common css styles=================== */
.main-body-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.font-12{
  font-size: 12px;
  color: #858585;
}
.font-8{
  font-size: 8px;
  color: #858585;
}
.font-10{
  font-size: 12px;
  color: #484848;
}

.font-14{
  font-size: 14px;
  color: #484848;
}
.para-width{
  width: 379px;
}
.ins-list li{
  display: flex;
  align-items: center;
  gap: 10px;
}
.ins-list li .list-span{
  width: 20px;
  height: 20px;
  background: #0796D0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #FFFFFF;
}
.radio-div{
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.selct-field .form-select{
  font-size: 12px;
  font-weight: 600;
  color: #484848;
  border: none;
  padding: 3px 0 !important;
  background-position: right -1px center !important;
}
/* ==================================form css start==================================*/
.form-fields {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.05));
  padding: 10px 10px 10px 20px;
  color: #06212C;
}
.phone-div {
  position: relative;
}
.phone-div .form-fields{
  padding: 10px 10px 10px 50px;
}
.phone-div img{
  position: absolute;
  top: 10px;
  left: 15px;
}
.custom-form-width{
  width: 180px;
  height: 50px;
}
.input-hf {
  display: flex;
  gap: 20px;
}
.form-control:focus{
  border: 1px solid #0796D0 !important;
  box-shadow: none !important;
}
.form-control::placeholder{
  font-size: 12px;
  color: rgba(72, 72, 72, 0.4);
}
/* ==================================form css End==================================*/



/* ************************************media quries****************************************** */

@media only screen and (max-width: 1440px) {
  .main-body-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}


@media only screen and (max-width: 425px) {
  .idnetity-main{
    width: 100%;
    padding: 0 20px;
  }
  .main-btn{
    width: 100%;
  }
  .para-width{
    width: 100%;
  }
}